@use "../../utils/Styles/global" as *;

.counterSection {
    padding-block: 7.5rem;
    position: relative;
    background-color: $whiteColor;

    .counterContainer {
        overflow: hidden;

        .counterColumn {
           
            .countingIcon {
                font-size: 2rem;
                color: $secondaryColor;
            }
            .countingNumber {
                font-size: 3rem;
                color: $thirdColor;
            }

            .counterTitle {
                color: $primaryColor;
            }
        }

    }
}

@media (max-width: 980px) {
    .counterSection {
        .counterDetails {
            .countingNumber {
                color: $primaryColor;
                font-size: 2rem;
                font-weight: 700;
                margin-block-end: 3rem;
            }
        }
    }

}