@use './../../../utils/Styles/global' as *;

.footerSection {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba($textColor, 0.5) 30%,
            rgba($textColor, 0.5) 60%),
        var(--footerImage);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba($textColor, 0.4);

    .footerContainer {
        display: block;
        z-index: 999;
        padding-block-start:2.5rem;
        padding-block-end: 2rem;

        .logoSection {
            .footerLogo {
                width: 70% !important;
                background-image: url("../../../assets/logo.png");
                object-fit: contain;
                object-position: center;
            }

            .footerDescription {
                color: $bodyColor;
                margin-block-start: 0.8rem;
                text-align: justify !important;
                font-size: 0.8rem !important;
            }
        }

        .footerContact {
            padding: 0;
            margin-block-start: 0.4rem;

            li {
                list-style: none;
                line-height: 2;
                font-size: 0.8rem;

                .contactLabel {
                    color: $whiteColor;

                    &:lang('en') {
                        margin-inline-end: 0.4rem;
                    }

                    i {
                        margin-inline-end: 0.4rem;
                    }

                }

                span {
                    color: $whiteColor ;
                    margin-inline-start: 0.4rem;

                    &:hover {
                        color: $whiteColor;
                    }
                }

                .contact {
                    direction: ltr;
                    text-align: match-parent;
                    padding: 0 !important;
                    margin: 0 !important;
                    font-family: inherit !important;

                    a {
                        text-decoration: none;
                        color: $whiteColor;
                        margin-inline-end: 0.4rem;

                        &:hover {
                            color: $featureColumn;
                        }
                    }
                }
            }

            .socialIcon {
                background-color: unset !important;
                border: none !important;
                margin-inline-end: 0rem;

                font-size: 1rem;

                a {
                    text-decoration: none;

                    i {
                        @include flexDiv();
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid $whiteColor;
                        border-radius: 50%;
                        color: $whiteColor;
                        scale: 1;
                        transition: scale ease-in-out 0.4s;

                        &:hover {
                            color: $bodyColor;
                            scale: 1.2
                        }
                    }
                }

            }
        }

        .FooterMainTitle {
            position: relative;
            color: $whiteColor;
        }

        .linksSection {
            padding-inline: 6rem;

            .footerLinks {
                li {
                    position: relative;
                    line-height: 2.5;
                    list-style: none;
                    inset-inline-start: -10px;
                    transition: padding-inline-start ease-in-out 0.4s;
                    font-size: 0.8rem !important;

                    &::before {
                        content: '\f0d9';
                        font-family: 'FontAwesome' !important;
                        position: absolute;
                        inset-inline-start: -20px;
                        color: $whiteColor;
                        transition: inset-inline-start ease-in-out 0.4s;
                    }

                    &:lang('en') {
                        &::before {
                            content: '\f0da';
                        }
                    }

                    &:hover {
                        padding-inline-start: 0.45rem;

                        a {
                            color: $primaryColor;
                            text-transform: capitalize;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $whiteColor;

                        &.active {
                            color: $primaryColor !important
                        }
                    }
                }
            }
        }



        .copyrights {
            @include flexDiv();
            color: $whiteColor;
            font-size: 0.8rem;
        }
    }

    .marwan {
        @include flexDiv();
        background-color: $primaryColor;
        padding: 0.4rem;
        color: $whiteColor;
        font-size: 14px;

        p {
            margin-bottom: 0;

            a {
                text-decoration: none;
                color: $secondaryColor;

                &:hover {
                    color: $thirdColor
                }
            }
        }

    }

}

@media (max-width:1000px) {
    .linksSection {
        padding-inline: 0.85rem !important;
    }
}