@use "../../utils/Styles/global" as *;

.contactPage {
    .contactInfo {
        @include flexStartDiv();
        flex-direction: column;
        justify-content: center !important;
        overflow: hidden;
        background-color: rgba($textColor, 0.1);
        padding: 1.5rem;
        border-radius: 1rem;

        .logo {
            margin: 0 auto;
            width: 100% !important;
            height: 8rem;
            object-fit: contain;
            object-position: center;
            margin-block-end: 10%;
        }

        .contactDetails {
            margin-block-end: 1rem;

            .contactLabel {
                color: $thirdColor;
                margin-inline-end: 0.5rem;

                i {
                    margin-inline-end: 0.4rem;
                }
            }

            span {
                color: $primaryColor;

                &:hover {
                    color: $thirdColor;
                }
            }

            .contact {
                direction: ltr;
                text-align: match-parent;
                padding: 0 !important;
                margin: 0 !important;
                font-family: inherit !important;

                a {
                    text-decoration: none;
                    color: $primaryColor;

                    &:hover {
                        color: $thirdColor;
                    }
                }
            }

        }

    }

    .social {
        width: 100%;
        @include flexDiv();
        inset: 0;

        margin-block-start: 3rem;

        .socialIcon {
            margin-inline-end: 1rem;
            border-radius:50%;
            color: $primaryColor;
            scale: 1;
            transition: scale ease-in-out 0.4s;

            &:hover {
                color: $secondaryColor;
                scale: 1.5;
            }
        }
    }

    .map {
        margin-block-start: 1rem;

        iframe {
            border-radius: 1rem;
            width: 100% !important;
        }
    }
}