@use "../../utils/Styles/global" as *;

.contactForm {
    overflow: hidden;
    background-color: rgba($textColor, 0.1);
    padding: 1.5rem;
    width: 100% !important;
    border-radius: 1rem;

    label {
        color: $primaryColor;
    }

    .contact_btn {
        background-color: $secondaryColor;
        color: $whiteColor;
        border-radius: 30px !important;
        width: 50%;

        &:focus {
            background-color: $secondaryColor;
            color: $whiteColor;
        }

        &:hover {
            background-color: $primaryColor;
        }
    }
}