@use "../../utils/Styles/global" as *;

.mainSlider {
    width: 100%;
    position: relative;
   

    .swiper {
        position: relative;
        width: 100dvw;
        height: 100dvh;
        overflow: visible !important;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: linear-gradient(to left, rgba($primaryColor, 0.2), rgba($primaryColor, 0.2));
            background-position: center;
            background-size: cover;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100dvh;
            }
        }

        .swiper-pagination-clickable .swiper-pagination-bullet {
            width: 1rem !important;
            height: 1rem !important;
            background-color: unset !important;
            padding-block: 1rem;
        }

        .swiper-pagination-bullet-active {
            color: $whiteColor !important;

            &::after {
                content: '';
                @include flexStartDiv();
                inset: 0;
                height: 3px;
                width: 2.5rem;
                background-color: $primaryColor;
            }
        }
        .swiper-pagination {
            position: absolute;
            inset-inline-start: 3rem;
        }

        .sliderSocialContainer{
            position: absolute;
            inset-block-start: 45%;
            inset-inline-end: 4%;
            width: max-content;
            height: max-content;
            .sliderSocial{
                display: flex;
                flex-direction: column;
                margin-block-end: 1rem;
                a{
                    text-decoration: none;
                    color: $whiteColor;
                    scale: 1;
                    transition: scale ease-in-out 0.4s;
                    &:hover{
                        color: $primaryColor;
                        scale: 1.3;
                    }
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .swiper {

        .sliderData {
            inset-block-start: 30% !important;
            inset-inline: 6% !important;
            transform: translateX(10px);

            .sliderRow {
                width: 100% !important;

                .sliderTitle {
                    font-size: 1.2rem;
                }

                .sliderDescription {
                    font-size: 14px;
                }

                button {
                    margin-block-end: 0.4rem;
                }
            }
        }
    }
}