@use "../../utils/Styles/global" as *;

.featureSection {
    background-color: $bodyColor;

    .featureContainer {
        margin-block: 1rem;
        padding-block: 3rem;

        .featureRow {
            overflow: clip;
            padding: 1rem;

            .featureCard {
                text-align: center;
                padding: 1.5rem;
                border: 1px solid $whiteColor;
                border-radius: 0.7rem;
                background-color: $whiteColor;
                scale: 1;
                transition: scale ease-in-out 0.4s;

                .featureIcon {
                    font-size: 2rem;
                    color: $secondaryColor;
                    margin-block-end: 1rem;
                }

                .featureTitle {
                    color: $primaryColor;
                    margin-block-end: 1rem;
                }

                .featureDescription {
                    font-size: 0.8rem;
                }

                &:hover {
                    background-color: $featureColumn;
                    // scale: 1.06;
                    // animation: rotateCard 0.6s linear;
                    // animation-fill-mode: forwards;
                    // transition: all 0.3s ease-in-out 0s;

                    .featureIcon {
                        color: $primaryColor;
                    }

                    .featureTitle {
                        color: $primaryColor;
                    }

                    .featureDescription {
                        color: $thirdColor;
                    }

                    @keyframes rotateCard {
                        0% {
                            transform: rotateX(0deg);
                        }

                        50% {
                            transform: rotateX(180deg);
                        }

                        100% {
                            transform: rotateX(360deg);
                        }
                    }
                }
            }
        }
    }
}