@use "../../utils/Styles/global" as *;

#generalSliderSection {
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    background-color: $whiteColor;


    .sectionTitle {
        position: relative;
        text-align: center;
        color: $primaryColor;
        margin-block-end: 3rem;
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            width: 7vw;
            height: 2px;
            background-color: $secondaryColor;
            inset-block-start: 130%;
            inset-inline: 45%;
        }
    }

    .sectionDescription {
        color: $secondaryColor;
        text-align: center;
        font-size: clamp(0.75rem, 3vw, 1rem);

    }

    .generalSliderSectionSwiper {
        position: relative;
        width: 100vw;
        height: 10rem !important;

        .swiper-wrapper {
            // @include flexDiv();

            .swiper-slide {
                text-align: center;
                font-size: 12px;
                background-image: none !important;

                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: unset !important;
                    inset: 0;
                }

                .sliderImage {
                    display: block;
                    background-image: none !important;
                    z-index: 99;
                    width: 100% !important;
                    height: 100% !important;
                    min-height: 5rem;

                    span {
                        display: block !important;
                        height: 100% !important;
                        min-height: 5rem;
                    }

                    img {
                        width: 100% !important;
                        height: 100% !important;
                        min-height: 5rem;
                        object-fit: contain !important;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

        }

        .swiper-button-prev,
        .swiper-button-next {
            color: $textColor;

            &:hover {
                color: $secondaryColor;
            }
        }

        .swiper-pagination-bullet-active {
            background: $primaryColor !important;
        }

    }

}